certifi==2018.11.29
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-OAuth==0.12
future==0.17.1
httplib2==0.18.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
oauth2==1.9.0.post1
oauthlib==2.1.0
python-twitter==3.5
requests==2.21.0
requests-oauthlib==1.0.0
SexMachine==0.1.1
Unidecode==1.0.23
urllib3==1.24.2
Werkzeug==0.15.4
WTForms==2.2.1
