<!doctype html>
<head>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
<title>My Ratio: Gender of Twitter Friends and Followers</title>
<link rel="shortcut icon" href="https://www.myrat.io/static/favicon.png" type="image/png" />
<style type="text/css">
.alert-container {
  max-height: 100px;
  overflow: hidden;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.alert-container-disappear {
  max-height: 0;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
</style>
</head>
<body>
{% macro render_field(field) %}
<dt>{{ field.label }}
<dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
  <ul class=errors>
    {% for error in field.errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</dd>
{% endmacro %}

<script type="application/javascript">
  function close_alert(target) {
    var alertDiv = target.parentElement.parentElement;
    alertDiv.classList.add('alert-container-disappear');
  }
  
  function analyze_click() {
    var button = document.getElementById("analyze-button");
    button.disabled = true;

    var user_id = document.getElementById("user_id");
    user_id.readOnly = true;

    var text = document.getElementById("analyze-button-text");
    text.style.display = 'none';

    var loading = document.getElementById("analyze-loading");
    loading.style.display = 'block';

    return true;
  }

  function close_alerts() {
    var alerts = document.getElementsByClassName('alert-container');
    for (var i = 0; i < alerts.length; i++) {
      alerts[i].classList.add('alert-container-disappear');
    }
  }

  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(close_alerts, 2000);
  }, false);
</script>

<div class="container-fluid">
  <div class="col-md-8 col-md-offset-1">

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert-container">
        <div class="alert alert-info">
          <button type="button" class="close" onclick="close_alert(this)">&times;</button>
          {{ message }}
        </div>
        </div>
    {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h1>My Ra<span style="letter-spacing: -0.02em">t</span><span style="color: #b4b4b4; letter-spacing: -0.06em"">.</span>io</h1>
  <p class="lead">Estimate the gender ratio of your followers and those you follow, based on their first names.</p>

  {% if session.get('twitter_user') %}
    <h4>Hello, @{{ session.twitter_user }}.</h4>
    <p><a href="/logout">Deauthorize this application with Twitter.</a></p>
    <hr>
    <form method="post" onsubmit="return analyze_click()">
      <div class="form-group">
        <label for="user_id">Twitter User:</label>
        <div class="input-group col-xs-4">
          <span class="input-group-addon">@</span>
          <input type="text" class="form-control" name="user_id" id="user_id"
            value="{{ form.user_id.data|default(session.twitter_user, true) }}">
        </div>
      </div>
      <button id="analyze-button" type="submit" class="btn btn-primary">
        <span id="analyze-loading" style="display: none;"><span class="glyphicon glyphicon-refresh spinning"></span> Loading...</span>
        <span id="analyze-button-text" >Analyze</span>
      </button>
    </form>
  {% else %}
    <a href="/login" class="btn btn-primary">Log in with Twitter</a>
  {% endif %}

  {% if error %}
    <h2>Error</h2>
    <p>{{ error }}</p>
  {% endif %}

  {% if results %}
    <h2>Results for @{{ form.user_id.data }}</h2>
    <p>Sampled {{ results.friends.ids_sampled }} friends and {{ results.followers.ids_sampled }} followers.</p>
    <table class="table table-striped">
      <thead><tr><th>&nbsp;</th><th>men</th><th>women</th><th>nonbinary,<br>no gender,<br>unknown</th></tr></thead>
      {% for user_type, users in [('Friends you follow', results.friends), ('Followers', results.followers)] %}
      <tr><td>{{ user_type }}</td><td>{{ users.men }}</td><td>{{ users.women }}</td><td>{{ users.andy }}</td></tr>
      <tr>
        <td>&nbsp;</td>
        <td>{{ div(100 * users.men, users.men + users.women)|round|int }}%</td>
        <td>{{ div(100 * users.women, users.men + users.women)|round|int }}%</td>
        <td>&nbsp;</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}

  </div>
  <div class="col-md-8 col-md-offset-1">
    <h5><a href="https://emptysqua.re/blog/gender-of-twitter-users-i-follow/">About this code</a></h5>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ TRACKING_ID }}', 'auto');
  ga('send', 'pageview');

</script>
</body>
